<p>Within an organization that can tolerate a lot of stress, it is a good idea to create it. Generally speaking, people like to avoid the work of reconciling behaviors with values and reality, if they can convince themselves it's not an urgent problem. But the real work of change happens when the problem is unavoidably the focus of attention.</p>

<p>Take one of the behaviors you have identified in this worksheet and make it a topic of discussion in an upcoming meeting.</p>

<p>If you see that people are trying to avoid the work, try naming the behavior to keep the pressure on: "I think we might have wandered off the topic here. Can we get back to discussing how <%= @worksheet.values.first.content %>?"</p>

<p>The more your organization has a tolerance for adaptive work, the longer you can sustain these often conflict-ridden conversations. Always be alert to how the room is feeling -- push too hard, and you injure the muscle, which could set you back.</p>