<p>Leadership is more than just getting people to follow. Leadership extends to the health of the organization as a whole. Much like beginning a new workout routine, the trick is to figure out exactly what amount of stress is needed to create growth.</p>

<p>Exercising leadership is a delicate and reactive process that requires understanding the stress you are applying to people and modulating it to the right level. People have a remarkable ability to avoid reconciling their behaviors and their beliefs, if their attention is allowed to wander.</p>

<p>Think about the behaviors you identified in this worksheet. Which ones is most widely recognized in the organization as a problem, even if the problem is misunderstood? This is a good place to begin.</p>

<p>Pick a stakeholder who you think will be an ally in change, and bring this topic up individually. Watch their reaction. Call attention to the organizational hurdles that you face if you want to create change. Share with them some of the principles of adaptive leadership and discuss whether the change you seek is an adaptive challenge that will require people to reconcile their behaviors with their values or the values of the organization.</p>

<p>Try to push the culture of the organization as well. In meetings, look for signs that the group is uncomfortable with ambiguity. Push back on attempts to find quick answers or decisions when waiting could yield better results. Even suggest it: "is there any reason we can't wait on this decision until next week?"</p>

<p>Lend your support to people within the organization who can be troublemakers, those who speak their mind and can't seem to help it. After a meeting, or during a meeting, take the opportunity to say "she may not have said it the best way, but she had a point when she said that <%= @worksheet.values.first.content %>."</p>