<p>Exercising leadership is a delicate and reactive process that requires understanding the stress you are applying to people and modulating it to the right level. People have a remarkable ability to avoid reconciling their behaviors and their beliefs, if their attention is allowed to wander.</p>

<p>Think about the behaviors you've identified in this worksheet. Which one of them is most recognized within your organization as a problem? The more an issue is already on people's minds, the more ripe it is for action.</p>

<p>Bring up the topic individually with a few stakeholders who you think might be allies in change. Don't let them change the subject. Probe for an honest understanding of their loyalties; what might hold them back from supporting change publicly?</p>

<p>Then bring the topic up individually with a stakeholder who you think will oppose the change. Begin by understanding their position. Acknowledge the validity of their loyalties and values, and look for common ground from there.</p>

<p>If these conversations go well, bring the topic up in a larger meeting and see how the group responds. Are people quick to change the topic? Do they find scapegoats or restate the problem in a way that avoid the conflict? The work of leadership is to understand this balance and push people to consider the real challenge so that they must make adjustments, but not so much that they break.</p>

<p>And remember to push your own boundaries and tolerance for conflict. You must acknowledge that you are part of the system that allows the status quo; and are therefore a part of the problem. Allowing for this publicly can help win allies, allowing it privately can help you do your own portion of the work.</p>