<h1></h1>

<p>Questions derived from page 108 of The Practice of Adaptive Leadership.</p>

<p>I'm not sure yet how they'll be presented (scale of 1-10?), or how many there will be. Maybe three to each of the seven characteristics.</p>

<p>Also, I should mention Antifragility and Taleb as another measure of an organizations Adaptive Capacity -- what level of stress can it withstand?</p>