<p class="text-success"><%= @worksheet.change_needed %></p>

<p>Values:</p>
<ol>
	<% @worksheet.values.each do |val| %>
		<li><%= val.content %></li>
	<% end %>	
</ol>

<p>Stakeholders:</p>
<ol>
	<% @worksheet.stakeholders.each do |s| %>
		<li><%= s.name %></li>
	<% end %>	
</ol>