<h1>Worksheet</h1>
<p class="text-muted">Results and Resources</p>



<p class="blockquote"><%= @worksheet.change_needed %></p>

<p>Values:</p>
<ol>
	<% @worksheet.values.each do |val| %>
		<li><%= val.content %></li>
	<% end %>	
</ol>

<p>Stakeholders:</p>
<ol>
	<% @worksheet.stakeholders.each do |s| %>
		<li><%= s.name %></li>
		<ul>
			<% s.loyalties.each do |l| %>
				<li><%= l.content %></li>
			<% end %>
		</ul>	
	<% end %>	
</ol>

<div class="bg-info padding">
	<h5>Resources</h5>
	<p>Adaptive leadership is a deep and engaging subject. You can learn a lot by reading a few books:</p>
	<ul>
		<li>Leadership Without Easy Answers</li>  
		<li>The Practice of Adaptive Leadership</li> 
		<li>Antifragile</li> 
		<li>Surfing the Edge of Chaos</li>
		<li>[That purpose book]</li>
	</ul>
</div>

<p class="text-muted">If you found this worksheet engaging and want to chat more, I'm always available via email: jason at prestons dot me.</p>