<h1>One more thing...</h1>

<p>For privacy reasons, all the stuff you've been typing in is <strong>only available during this browser session</strong> -- once you've moved on to another site, you're not going to be able to see any of this stuff again.</p>

<p>UNLESS you want to save it.</p> 

<p>If you want to save it, drop your email address here and we'll use it to create a unique URL for your worksheet that you can access at any time in the future.</p>

<p>Otherwise, just leave the field blank and hit the big green button.</p>

