<h1>One more thing...</h1>

<p>For privacy reasons, all the stuff you've been typing in is <strong>only available during this browser session</strong> -- once you've moved on to another site, you're not going to be able to see any of this stuff again.</p>

<p>UNLESS you want to save it.</p> 

<p>If you want to save it, drop your email address here and we'll email you a secret link that you can use to review your worksheet at any time.</p>

<p>Otherwise, just leave the field blank and hit the big green button.</p>

<%= simple_form_for(@worksheet, url: worksheets_process_gateway_path, method: :post, html: {class: "form"}) do |f| %>

	<%= f.input :email, label_html: {class: 'sr-only'}, placeholder: "your.name@example.com", as: :string %>
	
	<%= f.button :submit, 'Finish', class: 'btn btn-success' %>

<% end %>
