<h1>Adaptive Leadership</h1>

<p>Adaptive leadership theory draws its name from the natural process of adaptation through evolution. Central to the successful practice of leadership is the orchestration of productive conflict (competition and sex in nature) to produce innovation (mutation in genetics) which provides avenues for success in a changing environment (adaptation).</p>

<p>Leadership is therefore the process of motivating people to tackle tough, adaptive challenges and thrive.</p>

<p>Leadership is also different than authority. Intuitively we understand this; leadership does not always come from the top of an organization. But the distinction is important in the practice of leadership because the tools at your disposal are different depending on the scope and level of your authority within the system you are trying to lead.</p>

<p>You are here because you face a situation that calls for adaptive leadership. Follow the prompts to gain a better understanding of the leadership challenge you face, and what to do next.</p>

<input type="submit" name="submit" value="OK, let's go &rarr;" class="btn btn-info"></input>
